#line_1 {
	top: 173px;
	left: 426px;
	width: 1395px;
	height: 2px;
	background:red;
}
#line_2 {
	top: 373px;
	margin-left: 200px;
	width: 1200px;
	height: 3px;
	background:red;
}
#clr {
	
	width: 15px;
	height: 15px;
	-ms-border-radius: 38.5px / 33.5px;
	-o-border-radius: 38.5px / 33.5px;
	-moz-border-radius: 38.5px / 33.5px;
	-webkit-border-radius: 38.5px / 33.5px;
	border-radius: 38.5px / 33.5px;
	border: 1px solid green;
	background:green;
}
#ellipse_1 {
	top: 196px;
	left: 226px;
	width: 75px;
	height: 65px;
	-ms-border-radius: 38.5px / 33.5px;
	-o-border-radius: 38.5px / 33.5px;
	-moz-border-radius: 38.5px / 33.5px;
	-webkit-border-radius: 38.5px / 33.5px;
	border-radius: 38.5px / 33.5px;
	border: 1px solid #00ff33;
	background:rgba(0,255,95,255);
}
#photo {
  border-radius: 50%;
}
#rec_1 {
	top: 260px;
	left: 528px;
	width: 1119px;
	height: 346px;
	
	border-radius: 25px;
	box-shadow:6px 6px 6px 6px ;
	background:#610B0B;
}
.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}